.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.gridcontainer {
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: 10px;
  padding: 10px;
  grid-template-columns: 15% 70% 15%;
  /* height: 100vh; */
}

.griditemleft {
  /* background-color: #f0f0f0; */
  padding: 20px;
  /* border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.griditemright {
  /* background-color: #f0f0f0; */
  padding: 20px;
  /* border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.griditem {
  /* background-color: #f0f0f0; */
  padding: 20px;
  /* border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

/* Media query for tablets */
@media (max-width: 768px) {
  .gridcontainer {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(1, 1fr);
  }
}
