.container {
    /* background-color: blue; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
}